// Utility Classes

@use "./breakpoints" as b;

.container {
  max-width: 85vw;
  margin-inline: auto;
  text-align: center;
  margin-block: 2rem;

  @include b.breakpoint(lg) {
    text-align: left;
  }
}

.btn {
  color: #fff;
  background-color: var(--clr-bright-blue);
  border-radius: 5px;
  padding: 0.7rem;
  box-shadow: 2px 3px 7px var(--clr-light-gray);
  transition: 0.3s ease;
  margin-bottom: auto;

  @include b.breakpoint(lg) {
    padding-inline: 2rem;
  }
}
