@use "../utils/" as u;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    max-width: 100px;

    @include u.breakpoint(lg) {
      max-width: 150px;
    }
  }

  &__nav {
    &-items {
      display: flex;
      gap: 2rem;

      a:any-link {
        color: var(--clr-dark-blue);
      }

      @include u.breakpoint(lg) {
        gap: 4rem;
      }
    }
  }

  @include u.breakpoint(lg) {
    margin-block: 3rem;
  }
}
